<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <!--<base href="/apps/clients/zaraya-apps/afich/app/">-->
    <base href="/">
    <title>Acopio en Bici</title>
    <meta name="description" content="sitio de ayuda y donaciones para temblor CDMX 2017, acopio en bici">
    <meta name="viewport" content="width=device-width">
    <!--<link rel="icon" href="favicon.png" sizes="16x16" type="image/png">-->
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="css/required.min.css">
    <link rel="stylesheet" href="css/styles.min.css">
    <link rel="stylesheet" href="css/pretty.css">

    <!-- Nueva fuente -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700,900" rel="stylesheet">
    <!-- endbuild -->

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
</head>

<body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Formulario -->
    <header class="header" role="banner">
        <figure class="hero">
            <img src="src/img/hero-interna-1.jpg" alt="entregar">
            <figcaption>Foto: Luis Arango</figcaption>
        </figure>
        <div class="header-container">
            <h1>Registro de Voluntarios <i class="fa fa-heart"></i></h1>
        </div>
    </header>

    <nav class="nav" role="menubar">
        <a href="" class="logo">
            <img src="src/img/acopioenbici-logo.svg" alt="Acopio en Bici">
        </a>
        <ul>
            <li><a href="">Inicio</a></li>
            <li><a href="">Quiero Donar</a></li>
            <li><a href="">Quiero Entregar</a></li>
            <li><a href=""><i class="fa fa-twitter-square"></i></a></li>
            <li><a href=""><i class="fa fa-facebook-square"></i></a></li>
        </ul>
        <a href="" class="nav-trigger"><i class="fa fa-bars"></i></a>
    </nav>

    <main class="main-container" role="main">
        <div partial-loading></div>
        <!-- Si esta logeado con twitter y no se ha registrado -->
        <section class="section-container">

            <div flex layout="column" ng-show="F.user && volunteer.provider == 'twitter' && !volunteer.registeredTovolunteer">
                <md-toolbar>
                    <h3>Estás a una rodada de ayudar a México</h3>
                    <p>Hola {{F.user.displayName}}, muchas gracias por apoyar esta iniciativa ciudadana. Por favor, llena el siguiente formulario para completar tu registro.</p>
                </md-toolbar>

                <div flex layout="column" ng-show="F.user && volunteer.provider == 'twitter' && !volunteer.registeredTovolunteer">
                    <form name="volunteerForm" novalidate class="form">
                        <div class="form-row">
                            <div class="form-field">
                                <md-input-container class="field-container" flex>
                                    <label for="">Nombre Completo <span>*</span></label>
                                    <input name="name" type="text" ng-model="volunteer.name" required />
                                    <i class="fa fa-user"></i>
                                </md-input-container>
                            </div>
                            <div class="form-field">
                                <md-input-container class="field-container" flex>
                                    <label for="">Correo electrónico <span>*</span></label>
                                    <input name="capacity" type="text" ng-model="volunteer.capacity" required />
                                </md-input-container>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-field">
                                <md-button ng-disabled="volunteerForm.$invalid" class="btn btn-send" ng-click="save()">
                                    Enviar mis datos <i class="fa fa-paper-plane"></i>
                                </md-button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- Si no esta logeado -->
        <section flex layout="column" ng-show="!F.user" class="section-container">
            <h3>Bienvenido de nuevo <i class="fa fa-smile-o"></i></h3>
            <p>Para iniciar sesión solo continúa con twitter</p>

            <md-button class="btn btn-magenta" ng-click="loginWithTwitter()">
                Continuar con Twitter
                <i class="fa fa-twitter"></i>
            </md-button>
        </section>

        <!-- Si está logeado como admin -->
        <section flex layout="column" ng-show="F.user && volunteer.provider !== 'twitter'" class="section-container">
            <h3>¡Hola administrador!</h3>
            <p>Bienvenido de nuevo {{F.user.displayName}}. Tengo voluntarios que mostrarte.</p>

            <md-button ui-sref="admin.volunteers" class="btn btn-magenta">Ver voluntarios <i class="fa fa-bicycle"></i></md-button>
        </section>
    </main>

    <footer class="footer" role="footer">
        <div class="footer-container">
            <a href="" class="logo">
                <img src="src/img/acopioenbici-logo-dark.svg" alt="Acopio en Bici">
            </a>
            <p>&copy; 2017 Acopio en Bici. <a href="#">Aviso de Privacidad</a>. Fotos por Luis Arango.</p>
        </div>
    </footer>
    <!-- // Formulario -->

    <div ui-view layout-fill layout="row" ng-controller="MenuCtrl" ng-cloak></div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b, o, i, l, e, r) {
            b.GoogleAnalyticsObject = l;
            b[l] || (b[l] =
                function() {
                    (b[l].q = b[l].q || []).push(arguments)
                });
            b[l].l = +new Date;
            e = o.createElement(i);
            r = o.getElementsByTagName(i)[0];
            e.src = '//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
        ga('create', 'UA-XXXXX-X');
        ga('send', 'pageview');
    </script>

    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/83870c468a.js"></script>

    <script src="js/main.js"></script>
</body>

</html>
