.btn {
  border-radius: 30px;
  border: none;
  cursor: pointer;
  display: inline-block;
  @include font-montserrat-bold;
  font-size: 18px;
  min-width: 240px;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  // &:hover {
  //   background: $cyan !important;
  //   color: white !important;
  // }
  &:focus {
    outline: none;
  }
  .fa {
    color: inherit;
    font-size: 22px;
    margin-left: 8px;
  }
  &.btn-magenta, &.btn-send {
    background: $magenta;
    color: $white;
    &:hover {
      background: lighten($magenta, 10%);
    }
  }
  &.btn-yellow {
    background: $yellow;
    color: $black;
    &:hover {
      background: lighten($yellow, 25%);
    }
  }
  &.btn-dark {
    background: $black;
    color: $white;
    &:hover {
      background: lighten($black, 25%);
    }
  }
}
