.logo {
  float: left;
  margin: 0 30px 30px 50px;
  max-width: 257px;
  img {
    width: 100%;
  }
}

//Responsive
@media only screen and (max-width: 768px) {
  .logo {
    margin-left: 0;
    max-width: 160px;
  }
  .landing {
    .logo {
      display: block;
      float: none;
      margin: 0 auto 30px auto;
    }
  }
}
