.landing {
  //padding-bottom: 50px;
  .landing-container {
      background: $yellow; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(to left, $yellow 0%, $magenta 100%); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(to left, $yellow 0%, $magenta 100%); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(to left, $yellow 0%, $magenta 100%); /* For Firefox 3.6 to 15 */
      background: linear-gradient(to left, $yellow 0%, $magenta 100%); /* Standard syntax */
      display: block;
      margin: 0 auto;
      text-align: center;
      padding: 50px 0 254px;
      position: relative;
      width: 100%;
      > * {
        position: relative;
        z-index: 1;
      }
      &:before {
        background:
        linear-gradient(to left, #FFC107 0%, #E91E63 100%),
        url('../src/img/hero-main.jpg');
        background-blend-mode: multiply;
        //background-opacity: 0.4;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        content: "";
        display: block;
        height: 100%;
        left: 0;
        opacity: 0.4;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
      }
      h1 {
        color: white;
        clear: both;
        display: block;
        margin: 20px auto 50px;
        padding: 0 30px;
      }
    }
  .landing-triangles {
    background-image: url('../src/img/triangles.svg');
    background-size: 100% 100%;
    background-position: bottom center;
    bottom: 0;
    display: block;
    height: 254px;
    left: 0;
    //opacity: 0.2;
    position: absolute;
    width: 100%;
    // &:after, &:before {
    //   background-size: cover;
    //   content: "";
    //   float: left;
    //   height: 100%;
    //   width: 50%;
    // }
    // &:after {
    //   background-image: url('../src/img/triangle-right.svg');
    //   background-position: left bottom;
    // }
    // &:before {
    //   background-image: url('../src/img/triangle-left.svg');
    //   background-position: right bottom;
    // }
  }
}

.action-btns-container {
  display: inline-block;
  margin: 0;
  padding: 0;
  li {
    display: inline;
    margin-left: 30px;
    &:first-child {
      margin-left: 0;
    }
  }
}

//Responsive
@media only screen and (max-width: 768px) {
  .landing {
    .landing-container {
      .action-btns-container {
        li {
          display: block;
          margin: 0 0 30px 0;
        }
      }
      .landing-copy {
        h1 {
          font-size: 30px;
        }
      }
      .landing-triangles {
        height: 100px;
      }
    }
  }
}

@media only screen and (min-height: 621px) {
  .landing {
    .landing-container {
      .landing-copy {
        left: 50%;
        top: 30%;
        position: absolute;
        @include transform(translateX(-50%));
        width: 100%;
        h1 {
          margin-top: 0;
        }
      }
    }
  }
}
