.form-container {
  text-align: center;
}

.form {
  float: left;
  text-align: left;
  width: 100%;
  .form-row {
    float: left;
    margin-bottom: 20px;
    width: 100%;
    .form-field {
      cursor: pointer;
      float: left;
      padding: 0 4px;
      position: relative;
      width: calc(50% - 7px);
      &:last-child {
        float: right;
      }
      &.full-field {
        width: 100%;
      }
      label {
        float: left;
        @include font-montserrat-bold;
        padding: 0 20px;
        margin: 0 0 10px 0;
        width: 100%;
      }
      input, textarea, select {
        background: transparent;
        border: 1px solid $gray-soft;
        border-radius: 25px;
        color: $gray;
        float: left;
        @include font-montserrat-light;
        font-size: 16px;
        outline: none;
        padding: 15px 20px;
        @include placeholder{
          color: $gray-lighter;
        };
        text-decoration: none;
        width: 100%;
        &:focus {
          border: 1px solid $yellow;
          @include box-shadow(0,0,4px,0, $yellow);
        }
      }
      select {
        background: transparent;
        height: 51px;
        -webkit-appearance: none;
        -moz-appearance:    none;
        appearance:         none;
      }
      .field-container {
        float: left;
        position: relative;
        width: 100%;
        .fa {
          color: $gray-lighter;
          font-size: 20px;
          position: absolute;
          right: 20px;
          top: 16px;
          z-index: -1;
        }
        &.select-container {
          .fa-caret-up {
            top: calc(50% - 5px);
            @include transform(translateY(-50%));
          }
          .fa-caret-down {
            top: calc(50% + 5px);
            @include transform(translateY(-50%));
          }
        }
      }
      .btn-send {
        margin-top: 30px;
        width: 100%;
      }
      &.error {
        input {
          border-color: $magenta;
          @include box-shadow(0,0,4px,0, $magenta);
        }
        .error-message {
          color: $magenta;
          float: left;
          font-size: 14px;
          padding: 0 20px;
          margin: 10px 0 0;
          width: 100%;
        }
      }
    }
  }
}

.form-success {
  h3 + p {
    margin-bottom: 30px;
  }
  .fa-heart {
    color: $magenta;
    font-size: 144px;
  }
}

@media only screen and (max-width: 768px) {
  .form {
    .form-row {
      margin-bottom: 0;
      .form-field {
        margin-bottom: 20px;
        width: 100%;
      }
      .btn-send {
        margin-top: 0;
      }
    }
  }
}
