.nav {
  float: right;
  padding: 20px 0;
  ul {
    margin: 0;
    padding: 0;
    li {
      border-left: 1px solid $white;
      display: inline;
      padding: 0 8px;
      text-align: right;
      a {
        color: $white;
        text-decoration: none;
        &:hover {
          color: $yellow;
        }
      }
      &.active {
        a {
          color: $yellow;
          text-decoration: underline;
        }
      }
      &:first-child, &:last-child, &:nth-last-child(2) {
        border-left: none;
      }
      &:nth-last-child(2) {
        padding-left: 12px;
      }
      &:last-child, &:nth-last-child(2) {
        a {
          font-size: 18px;
        }
      }
    }
  }
  .nav-trigger {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .nav {
    padding: 10px 0;
    ul {
      display: none;
    }
    .nav-trigger {
      display: block;
      font-size: 24px;
    }
  }
}
